.header {
    position: fixed;
    z-index: 54;
    top: 2.5rem;
    left: 2.5rem;
    right: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
        opacity: 0.9;
        transition: opacity 0.2s ease;
    }

    &:hover img {
        opacity: 1;
    }
}

.menu {
    width: 180px;
    height: 350px;
    background-color: #1E00DA;
    border-radius: 25px;
    position: relative;
}
